/* ZakatPage.module.css */

/* Styling untuk input text dan textarea */
.inputText {
    color: black;
}

.textArea {
    color: black;
}

/* Styling untuk tombol (Simpan dan Print Data) */
.button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

/* Styling untuk area yang dicetak */
@media print {
    /* Menyembunyikan elemen selain yang ingin dicetak */
    .print-mode * {
        visibility: hidden;
    }

    .print-mode #zakat-table, .print-mode #zakat-table * {
        visibility: visible;
    }

    /* Menyembunyikan kolom aksi saat print */
    .print-mode td:last-child,
    .print-mode th:last-child {
        display: none !important;
    }

    /* Jika menggunakan .print-mode pastikan untuk menyembunyikan kolom aksi dengan display: none */
    .print-mode td:last-child {
        display: none !important;
    }

    .print-mode th:last-child {
        display: none !important;
    }
}